/**
  Small Global CSS to override some things, like box-sizing, and the styling on the body
  tag.
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fefefe;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* `root > div > div` will target react router's root */
#root > div > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Make the React Hot Loader Overlay always on top, and draggable */
.react-hot-loader-error-overlay, #webpack-hot-middleware-clientOverlay {
  z-index: 10000;
  -webkit-app-region: drag;
}
.react-hot-loader-error-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}