/**
  Small Global CSS to override some things, like box-sizing, and the styling on the body
  tag.
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fefefe;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
